/* You can add global styles to this file, and also import other style files */
body{
   background: url(assets/city.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center bottom;
} 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
